.certi-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 100px;

}
.serti{
    width: 450px;
    height: 500px;
    border-radius: 20px;
    margin: 20px;
    background: #CAD183;
    box-shadow: 10px 10px 20px;
}
.serti-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}
.serti-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.serti-img{
    padding-left: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}